@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../styles/auth.css';


:root {
  --primary-dark: #071D3A;
  --primary-blue: #172B4D;
  --brand-blue: #2E5BFF;
  --bg-ice: #EAF5FC;
  --accent-gold: #D4AF37;
  --status-green: #2ECC71;
  --status-orange: #F39C12;
}

body {
  background-color: #EAF5FC;
  color: #172B4D;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
}
